<div *ngIf="entity">
  <form name="entityForm" (ngSubmit)="onSubmit()" #entityForm="ngForm" (change)="onFormChange()" class="ui form">

  <div>
    <label>id: </label>{{entity.entity_id}}
  </div>
      <div>
            <div *ngFor="let prop of entity.values">
              <div>
                  <label style="width: 33%">{{prop.source}} {{prop.data_name}}</label>
                   <span [ngSwitch]="prop.data_type">
                      <input *ngSwitchCase="'string'" [(ngModel)]="prop.data_value" name="{{prop.data_name}}" />
                   </span>

              </div>
            </div>
            Parent associations
            <div *ngFor="let assoc of entity.refs">
                <div *ngIf="assoc.source_id == entity.entity_id">
                 {{assoc.assoc_name}} <a [routerLink]="['/detail/', assoc.target_id]">{{assoc.target_id}}</a>
              </div>
            </div>
            Child associations
            <div *ngFor="let assoc of entity.refs">
                <div *ngIf="assoc.target_id == entity.entity_id">
                 {{assoc.assoc_name}} <a [routerLink]="['/detail/', assoc.source_id]">{{assoc.source_id}}</a>
              </div>
            </div>
      </div>

      <button [disabled]="!entityForm.form.valid" type="submit" i18n>SAVE</button>
  </form>

  <button (click)="goBack()">Back</button>
</div>
