<div>
    <span>
        <md-input-container class="md-button-ripple">
            <input mdInput placeholder="Source" [mdAutocomplete]="auto" [(ngModel)]="sourceNameSelector" />
        </md-input-container>
        <md-autocomplete #auto="mdAutocomplete">
            <md-option *ngFor="let source of sources" [value]="source.source_name">
                {{ source.source_name }}
            </md-option>
            <md-option value='system'>system</md-option>
        </md-autocomplete>
    </span>

    <span>
        <md-input-container>
            <input mdInput placeholder="Property" mdTextareaAutosize [mdAutocomplete]="properties"
            [(ngModel)]="propertyNameSelector" />
        </md-input-container>
        <md-autocomplete #properties="mdAutocomplete" panel="sourceprops-panel">
            <md-option *ngFor="let prop of sourceProperties" [value]="prop.prop_name">
                {{ prop.prop_name }}
            </md-option>
        </md-autocomplete>
    </span>

    <span>
        <md-input-container>
            <input mdInput placeholder="Value" [mdAutocomplete]="property_value" [(ngModel)]="propertyValueSelector" />
        </md-input-container>
        <md-autocomplete #property_value="mdAutocomplete">
            <md-option *ngFor="let prop of propertyValues" [value]="prop.source_name">
                {{ prop.source_name }}
            </md-option>
        </md-autocomplete>
    </span>
</div>

<entities-display [sourceName]="sourceNameSelector" [propertyName]="propertyNameSelector"
                                                      [propertyValue]="propertyValueSelector" (sourceChange)="sourceChanged($event)"
    (propertyNameChange)="propertyNameChanged($event)" (propertyValueChange)="propertyValueChanged($event)" [showRefCount]="true">
</entities-display>
