<div *ngIf="entity">

  <form [formGroup]="entityForm" novalidate (ngSubmit)="onSubmit(entityForm)">
    <div class="form-group">
      <label>Name</label>
      <input type="text" class="form-control" formControlName="entity_id">
      <small *ngIf="!entityForm.controls.entity_id.valid" class="text-danger">
              Name is required (minimum 5 characters).
            </small>
    </div>
    <!-- properties -->
    <div formArrayName="values">
      <div *ngFor="let property of entityForm.controls.values.controls; let i=index" class="panel panel-default">
        <div class="panel-heading">
          <span>Property {{i + 1}}</span>
          <span class="glyphicon glyphicon-remove pull-right" *ngIf="entityForm.controls.values.controls.length > 1" (click)="removeProperty(i)"></span>
        </div>
        <div class="panel-body" [formGroupName]="i">
          <app-property-form [group]="entityForm.controls.values.controls[i]"></app-property-form>
        </div>
      </div>
    </div>

    <div class="margin-20">
      <a (click)="addProperty()" style="cursor: default">
            Add another property +
          </a>
    </div>

    <!-- refs -->
    <div formArrayName="refs">
      <div *ngFor="let property of entityForm.controls.refs.controls; let i=index" class="panel panel-default">
        <div class="panel-heading">
          <span>Association {{i + 1}}</span>
          <span class="glyphicon glyphicon-remove pull-right" *ngIf="entityForm.controls.refs.controls.length > 1" (click)="removeProperty(i)"></span>
        </div>
        <div class="panel-body" [formGroupName]="i">
          <app-assoc-form [group]="entityForm.controls.refs.controls[i]"></app-assoc-form>
          <div class="margin-20">
            <a (click)="addAssocProperty(i)" style="cursor: default">
            Add another property +
          </a>
        </div>
      </div>
    </div>
</div>

<div class="margin-20">
  <button type="submit" class="btn btn-primary pull-right" [disabled]="!entityForm.valid">Submit</button>
</div>
<div class="clearfix"></div>

<div class="margin-20">
  <div>myForm details:-</div>
  <pre>Is myForm valid?: <br>{{entityForm.valid | json}}</pre>
  <pre>form value: <br>{{entityForm.value | json}}</pre>
</div>
</form>

<button (click)="goBack()">Back</button>
</div>