<div>
  <ngx-datatable class="material" [rows]="rows" [columns]="columns"  [columnMode]="'force'"
        [limit]="page.size"
        [headerHeight]="50"
        [footerHeight]="50"
        [rowHeight]="'auto'"
        [externalPaging]="true"
        [count]="page.totalElements"
        [offset]="page.pageNumber"
        [limit]="page.size"
        (page)='setPage($event)'>
  </ngx-datatable>
</div>

<ng-template #hdrTpl let-column="column" >
        {{column.name}}
</ng-template>

<ng-template #identityTmpl let-row="row" let-value="value">
  <a [routerLink]="['/detail/', value]">{{value}}</a>
</ng-template>

<ng-template #propertyValueTmpl let-column="column" let-row="row" let-value="value">
  <a [routerLink]="['/list/', column.propSource, column.propName, value]">{{value}}</a>
</ng-template>
