<td class="col-xs-3">
  <div [formGroup]="pForm">
    <input [readonly]="true" type="text" class="form-control" formControlName="source">
    <small [hidden]="pForm.controls.source.valid" class="text-danger">
                    Source is required
                </small>
  </div>
</td>
<td class="col-xs-3">
  <div [formGroup]="pForm">
    <input [readonly]="!userEditable" type="text" class="form-control" formControlName="data_name">
    <small [hidden]="pForm.controls.data_name.valid" class="text-danger">
                    Name is required
                </small>
  </div>
</td>
<td class="col-xs-6">
  <div [formGroup]="pForm">
    <input [readonly]="!userEditable" type="text" class="form-control" formControlName="data_value">
  </div>
</td>
<td>
<span class="glyphicon glyphicon-remove" (click)="removed.emit(index)"></span>
</td>