<div [formGroup]="pForm">
  <div class="form-group col-xs-4">
    <label>source</label>
    <input type="text" class="form-control" formControlName="source">
    <small [hidden]="pForm.controls.source.valid" class="text-danger">
                    Source is required
                </small>
  </div>
  <div class="form-group col-xs-4">
    <label>Name</label>
    <input type="text" class="form-control" formControlName="data_name">
    <small [hidden]="pForm.controls.data_name.valid" class="text-danger">
                    Name is required
                </small>
  </div>
  <div class="form-group col-xs-4">
    <label>Value</label>
    <input type="text" class="form-control" formControlName="data_value">
  </div>
</div>